.pizzaBuilder {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 25vw;
}

.bejBackground {
    background-color: #FAF7F2;
}

.links {
    width: 25vw;
    padding-bottom: 25px;
    margin-top: 10px;
}

.link {
    text-decoration: none;
}

.gapsBetweenElements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.hundredPercentWidth {
    width: 100%;
}

.doughAndThickness {
    display: flex;
    justify-content: space-between;
}

.sizeFormGroup {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.radioLabel {
    border-radius: 40px;
    border: 1px solid #cccccc;
    width: 40px;
    height: 40px;
    background-color: #FAF7F2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sizeFormGroupDiv {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 5px;
}



.doughFormGroup {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.doughInput {
    width: 250px;
    height: 40px;
    background: #FAF7F2;
}
.toppings {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
}

.toppingsWrap {
    display: flex;
    justify-content: start;
    align-items: center;

    flex-wrap: wrap;
    gap: 10px;
}

.formGroup {
    width: 150px;
    height: 30px;
}

.toppingLabel {
    border-radius: 40px;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.toppingDiv {
    width: 30px;
    height:30px;
    background: #FAF7F2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    background-color: #FAF7F2;;
}

.inputs input::placeholder {
    padding-left: 10px;
}

.yellowBackground {
    background: #FDC913;
}

@media only screen and (max-width: 480px) {
    .pizzaBuilder {
        width: 80%;
    }

    .links {
        width: 40vw;
    }

    .sizeFormGroup{
        width: 150px;
    }
    .legend {
        width: 100px;
    }


}