.statContainer {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    border-radius: 4px;
    border: 1px solid #cccccc;
    padding: 30px;
}

.stat {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.stat p {
    width: 100%;
    display: flex;
    justify-content: space-between;
}