.orderPizza {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.pizzaBuilderAndTotalPrice {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}